/* =============
    Typography
============= */
@use "../helpers";

body {
  font-family: "Open Sans", sans-serif;
}

.section-title {
  font-size: helpers.rem-calc(50);
  line-height: helpers.rem-calc(65);
  color: var(--nightBlue);
}

.body-grey-text {
  color: var(--grey);
  font-weight: 600;
  line-height: 28px;
}
