/* =============
    Communication
============= */
@use "../helpers";

#communication {
  background-color: var(--white);
  padding: 40px 24px;
  text-align: center;

  h1 {
    color: var(--nightBlue);
  }

  p {
    color: var(--grey);
    margin: 24px 0px 48px;
  }
  aside {
    img {
      margin-bottom: 107px;
    }
  }
}
