/* =============
    Communication
============= */
@use "../helpers";

#communication {
  background-color: var(--white);
  text-align: center;

  #communication-content {
    @include helpers.xl {
      width: 992px;
      margin: 0 auto;
    }
    #comms-title {
      @include helpers.md {
        display: flex;
      }
      #comms-first-title {
        @include helpers.md {
          margin-right: 16px;
        }
      }
    }

    h1 {
      color: var(--nightBlue);
    }

    p {
      margin: 24px 0px 48px;

      @include helpers.md {
        padding: 0px 8vw;
        margin-bottom: 24px;
      }
    }
  }

  #communication-img {
    @include helpers.xl {
      width: 1200px;
      margin: 0 auto;
    }
  }
}
