/*============
    INDEX/HOME
============*/

@use "../helpers";

#home {
  background-color: var(--softPeach);

  .nav-bar {
    background-color: var(--martinique);
    padding: 10px 0;
    margin-bottom: 15px;
  }
  a {
    color: var(--grey);
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 14px 16px;
  }
  a:hover {
    background-color: var(--studioPurple);
    color: var(--white);
  }

  .home-content {
    background-color: var(--white);
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px 50px 20px;
    .image-sizer {
      width: 100%;
      height: auto;
      display: block;
      margin-top: 15px;
      border-radius: 100px;
      border: var(--studioPurple) 5px solid;
      box-shadow: 0 8px 18px rgba(0, 0, 0, 0.6);
    }
    h1 {
      line-height: 1.25;
      padding-left: 40px;
      span {
        color: var(--studioPurple);
      }
    }
    p {
      color: var(--white);
      font-size: 1.25rem;
      line-height: 1.5;
      padding: 15px;
      background-color: var(--studioPurple);
      border-radius: 100px;
    }
  }
}
